<app-navbar></app-navbar>

<body>
  <div class="about-me-container">
    <div class="area" style="position: fixed; background-color: #786d61">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="wrapper"> 
      <div id="div-mask-front">
        <h1>There's more than meets the eye...</h1>
      </div>
      <div id="div-mask-back" aria-hidden="true">
        <div class="area" style="position: absolute; background-color: #000000">
          <ul class="circles">
            <li
              style="
                --color: linear-gradient(
                  319deg,
                  #bbff99 0%,
                  #ffec99 37%,
                  #ff9999 100%
                );
              "
            ></li>
            <li
              style="--color: linear-gradient(315deg, #d387ab 0%, #b279a7 74%)"
            ></li>
            <li
              style="--color: linear-gradient(315deg, #378b29 0%, #ffffff 74%)"
            ></li>
            <li
              style="--color: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%)"
            ></li>
            <li
              style="
                --color: linear-gradient(
                  319deg,
                  #dbf26e 0%,
                  #61fa74 37%,
                  #1cfdd6 100%
                );
              "
            ></li>
            <li
              style="--color: linear-gradient(315deg, #ffffff 0%, #274060 74%)"
            ></li>
            <li
              style="
                --color: linear-gradient(
                  319deg,
                  #c2eaba 0%,
                  #c5f4e0 37%,
                  #efc2cf 100%
                );
              "
            ></li>
            <li
              style="
                --color: linear-gradient(
                  319deg,
                  #cdedfd 0%,
                  #ffec82 37%,
                  #ffcfd2 100%
                );
              "
            ></li>
            <li
              style="--color: linear-gradient(315deg, #1dd1a1 0%, #d3d3d3 74%)"
            ></li>
            <li
              style="--color: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%)"
            ></li>
          </ul>
        </div>
        <pre>
      <span class="variable">name</span> <span class="character">=</span> <span class="string">"Shoshone Arnold"</span>
      <span class="variable">age</span> <span class="character">=</span> <span class="number">{{ currentAge }}</span>
      <span class="variable">profession</span> <span class="character">=</span> <span class="string">"Software Engineer & CyberSecurity Enthusiast"</span>
      <span class="variable">experties</span> <span class="character">=</span> <span class="string">"Developing Mobile, Desktop and Web Applications"</span>
      
      <span class="variable">skills</span> <span class="character">=</span> <span class="bracket">{{ '{' }}</span>
          <span class="string">"Full-Stack Web Dev"</span> <span class="character">:</span> <span class="string">"HTML/CSS | Node/JS | Angular"</span><span class="character">,</span>
          <span class="string">"Desktop App Dev"</span> <span class="character">:</span> <span class="string">".Net | UWP | WPF | C# | C++ | Winform"</span><span class="character">,</span>
          <span class="string">"Mobile App Dev"</span> <span class="character">:</span> <span class="string">"Java | Kotlin | Flutter"</span><span class="character">,</span>
          <span class="string">"DevOps/CI/CD"</span> <span class="character">:</span> <span class="string">"Python | Git/Github | GCP | Firebase"</span>
      <span class="bracket">{{ '};' }}</span>
      
      <span class="variable">hobbies</span> <span class="character">=</span> <span class="bracket">[</span>
          <span class="string">"Software Application Development"</span><span class="character">,</span>
          <span class="string">"Running 🏃"</span><span class="character">,</span>
          <span class="string">"Learning New Things"</span><span class="character">,</span>
          <span class="string">"Sharing Knowledge"</span><span class="character">,</span>
          <span class="string">"Spending Time With My Family"</span>
      <span class="bracket">];</span>
                  </pre>
      </div>
    </div>
  </div>
</body>
